@import 'variables';
@import 'custom-bootstrap';

body {
	background-color: $gray-darker;
}

.logo {
	height: 90%;
	margin: 5px;
}

.carousel-image {
	max-height: 400px;
	width: 100%;
	margin: 5px;
}

.carousel-column {
	padding: 0;
}

.navbar-contact-icon {
	float: right;
	color: white;
	margin-left: 20px; 
  	font-size: 2.5em;
  	line-height: $navbar-height;
}