
.page-title {
	color: white;
	padding: 20px;
	text-align: center;
}

.page-separator {
	background-color: white;
	margin: 0 20%;
}

.page-body {
	color: white;
	margin-top: 15px;
	font-family: 'Open Sans';
}

.about-page {
	background: $executive-purple; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $executive-purple, $red-haystack); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $executive-purple, $red-haystack); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $executive-purple, $red-haystack); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, $executive-purple, $red-haystack); /* Standard syntax */
	
	padding: 30px 0;

	.about-row {
		margin: 30px;
	}

	.about-img {
		width: 75%;
	}
}

.contact-page {
	color: #fff;
	background: url("../img/atlantaSkyline.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 300px;
	width: 100%;

	.contact-row {
		margin-top: 50px;
		text-align: center;
		overflow: hidden;

		h3 {
			margin-top: 10px;
			color: white;
			font-family: 'Open Sans';
		}

		.contact-col {
			margin-bottom: 30px;
		  	transition: all 0.2s linear;
		}

		.contact-col:hover {
			-webkit-transform: scale(1.1);
			-ms-transform: scale(1.1);
			transform: scale(1.1);
		}
		
	}

	a {
		margin-top: 30px;

		color: white;
		font-size: large;
	}
}
