.testimonial-row {
	margin-top: 5em;

	.card {
		margin: 20px 20px;
	}

	.testimonial-head {
		background-color: $gray-darker;
		height: 150px;
		min-width: 150px;

		img {
			display: block;
			margin: auto;
			margin-top: 25px;

			height: 100px;
			border-radius: 50%;
		}
	}
}

.testimonial-indicator {
    background-color: $gray-darker !important;

    &.active {
        background-color: $gray-lighter !important;
    }
}