.testimonial-row {
	margin-top: 5em;
    margin-left: auto;
    margin-right: auto;

    width: 90%;

	.card {
		margin: 20px 20px;
	}

	.testimonial-head {
		background-color: $gray-darker;
		height: 150px;
		min-width: 150px;

		img {
			display: block;
			margin: auto;
			margin-top: 25px;

			height: 100px;
			border-radius: 50%;
		}
	}
}

.testimonial-indicator {
    background-color: $gray-darker !important;

    &.active {
        background-color: $gray-lighter !important;
    }
}

.testimonial-text {
    font-size: small;
}

.testimonial-button {
    width: 10%;

    .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: $gray-darker;
        border-radius: 50%;
    }
}
