$red-haystack: #e71a4d;
$executive-purple: #90278f;
$gray-darker: #333133;
$gray-dark: lighten($gray-darker, 5%);
$gray: lighten($gray-darker, 10%);
$gray-light: lighten($gray-darker, 15%);
$gray-lighter: lighten($gray-darker, 20%);

@font-face {
	font-family: 'Open Sans';
	src: url(../font/Open_Sans/OpenSans-Regular.ttf);
}